<div class="list-group">
  <% ratings.each do |rating| %>
    <% media = get_media(rating.media_id) %>
    <div class="list-group-item list-group-item-action flex-column align-items-start mb-2">
      <a href="<%= media_path rating.media_id %>">
        <div class="d-flex align-items-stretch justify-content-between">
          <% year = year_from_date(media['release_date']) %>
          <h4 class="mb-1"><%= media['title'] %><% if year %> <small class="text-muted">(<%= year %>)</small><% end %></h4>
          <small><%= media_score(rating.media_id) %></small>
        </div>
<!--        <small><%#= media.scored_ratings %> <%#= 'user'.pluralize(media.scored_ratings) %></small>-->
      </a>
      <% if logged_in? %>
        <div class="d-flex justify-content-end">
          <%= render 'shared/form_rating_html', media_id: rating.media_id, rating: rating %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>