<%= provide(:title, @user.username + ' · Profile') %>

<h3 class="mb-4">Profile Page</h3>

<h5 class="mb-2">
  <span class="text-muted">Hi there </span>
  <%= @user.username %>
</h5>

<h5 class="mb-2">
  <small class="text-muted">You have </small>
  <%= @user.ratings.length %>
  <small class="text-muted"> series on your list with </small>
  <%= @user.scored_ratings %>
  <small class="text-muted"> ratings</small>
</h5>

<h5 class="mb-5">
  <small class="text-muted">Your average rating is </small>
  <%= '%.2f' % @user.rating_sum.fdiv(@user.scored_ratings) %>
  <small class="text-muted"> / 10</small>
</h5>

<% counts = @user.ratings.group(:score).count %>
<% data = Hash.new(0) %>
<% (0..10).each {|i| data[i] = 0 } %>
<% counts.each {|k, v| data[k] = v } %>
<% data.delete nil %>

<%= column_chart @graph_data, width: '500px', height: '350px', title: 'Scored Ratings', xtitle: 'Score', ytitle: 'Count', label: 'Number of ratings'  %>