<%# Renders score form: *** Status [ Watching v] Score [ - v] [ Update ] *** %>
<%= form_with model: rating, url: media_ratings_path(rating, media_id: media), method: :patch, class: 'form-inline', local: true do |form| %>
  <%= render 'layouts/form_errors', model: rating %>
  <div class="form-group form-group-sm">
    <%= form.label :status_id, class: 'mr-2' %>
    <%= form.collection_select :status_id, @statuses, :id, :label, {}, class: 'form-control form-control-sm mr-2' %>
  </div>
  <div class="form-group form-group-sm">
    <%= form.label :score, class: 'mr-2' %>
    <%= form.select :score, (Rating::MIN..Rating::MAX), { include_blank: true }, { class: 'form-control form-control-sm mr-2' } %>
  </div>
  <%= form.submit 'Update', class: 'btn btn-sm btn-primary mr-1' %>
<% end %>
<%= button_to 'Remove', media_ratings_path(media, rating), method: :delete, class: 'btn btn-sm btn-danger m-1' %>