<% provide(:title, 'Media List') %>

<h3>Media list</h3>
<%= paginate @ratings %>
<div class="list-group">
  <% @media_ids.each do |media_id| %>
    <% media = get_media(media_id) %>
    <a href="<%= media_path media_id %>" class="list-group-item list-group-item-action flex-column align-items-start mb-2">
      <div class="d-flex align-items-stretch justify-content-between">
        <% year = year_from_date(media['release_date']) %>
        <h4 class="mb-1"><%= media['title'] %><% if year %> <small class="text-muted">(<%= year %>)</small><% end %></h4>
        <%# Render score %>
        <% score = media_score(media_id) %>
        <% if score.present? %>
          <span><strong><%= score %></strong><small class="text-muted"> / 10</small></span>
        <% else %>
          <small class="text-muted">No score</small>
        <% end %>
      </div>
      <div class="d-flex align-items-stretch justify-content-between">
        <small class="text-muted"><%= media['tagline'] %></small>
        <% scored_ratings = @counts[media_id]  %>
        <small class="badge badge-pill badge-info"><%= pluralize(scored_ratings, 'user') %></small>
      </div>
    </a>
  <% end %>
</div>