<% provide(:title, 'Media List') %>

<p id="notice"><%= notice %></p>

<h2>Media list</h2>

<div class="list-group">
  <% @media.each do |media| %>
    <a href="<%= media_path media %>" class="list-group-item list-group-item-action flex-column align-items-start">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1"><%= media.title %></h5>
        <small><%= media.zscore %></small>
      </div>
      <p class="mb-1"><%= media.year %></p>
      <small><%= media.users.count %> users</small>
      <div class="d-flex w-100 justify-content-between">
        <%= link_to 'Show', media, class: 'btn btn-light' %>
        <%= link_to 'Edit', edit_media_path(media), class: 'btn btn-light' %>
        <%= link_to 'Destroy', media, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-light' %>
      </div>
    </a>
  <% end %>
</div>

<%= button_to 'New Media', new_media_path, { method: :get, class: 'btn btn-primary' } %>