<% provide(:title, 'Media List') %>

<h2>Media list</h2>

<div class="list-group">
  <% @media.each do |media| %>
    <div class="list-group-item list-group-item-action flex-column align-items-start mb-2">
      <a href="<%= media_path media %>">
        <div class="d-flex align-items-stretch justify-content-between">
          <h4 class="mb-1"><%= media.title %> <small class="text-muted">(<%= media.year %>)</small></h4>
          <small><%= media.zscore.present? ? media.zscore : 'No score yet' %></small>
        </div>
        <small><%= media.users.length %> users</small>
      </a>
      <div class="d-flex justify-content-end">
        <%# If current user has not rated media %>
        <% rating = media.ratings.select {|r| r.user_id == current_user.id}.first %>
        <% if rating.nil? %>
          <%= link_to ' + ', rate_media_path(media), { method: :post, class: 'btn btn-sm btn-primary m-1' } %>
        <% else %>
          <%= render 'form_rating_html', media: media, rating: rating %>
          <%= link_to ' - ', unrate_media_path(id: rating), { method: :delete, class: 'btn btn-sm btn-danger m-1'} %>
        <% end %>
        <%= link_to 'Edit', edit_media_path(media), method: :get, class: 'btn btn-sm btn-info m-1' %>
        <%#= link_to 'Destroy', media, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger m-1' %>
      </div>
    </div>
  <% end %>
</div>

<%= link_to 'New Media', new_media_path, { method: :get, class: 'btn btn-primary mt-3' } %>