<% provide(:title, @media['title']) %>

<h2 class="mb-1"><%= @media['title'] %><small class="text-muted"> (<%= get_year_from_date(@media['release_date']) %>)</small></h2>
<p><strong><%= get_media_score(@media['id']) %></strong></p>
<p><%= @media['overview'] %></p>
<!--<small><%#= @media.scored_ratings %> <%#= 'user'.pluralize(@media.scored_ratings) %></small>-->

<%# TODO: Customize this page, should be sufficiently different from media list that partials are not required %>
<% if logged_in? %>
  <div class="d-flex justify-content-end">
    <%# If current user has not rated media %>
    <% if @rating.blank? %>
      <%= button_to 'Add to list', media_ratings_path(media_id: @media['id']), method: :post, class: 'btn btn-sm btn-primary m-1' %>
    <% else %>
      <%= render 'shared/form_rating_html', media_id: @media['id'], rating: @rating %>
    <% end %>
  </div>
<% end %>