<div class="d-flex w-100 justify-content-between">
  <h5 class="mb-1"><%= @media.title %></h5>
  <small><%= @media.zscore %></small>
</div>
<p class="mb-1"><%= @media.year %></p>
<small><%= @media.users.count %> users</small>
<div class="d-flex w-100 justify-content-between">
  <td><%= link_to 'Show', @media %></td>
  <td><%= link_to 'Edit', edit_media_path(@media) %></td>
  <td><%= link_to 'Destroy', @media, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</div>
