<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @media .title %>
</p>

<p>
  <strong>Year:</strong>
  <%= @media .year %>
</p>

<p>
  <strong>Info:</strong>
  <%= @media .info %>
</p>

<%= link_to 'Edit', edit_media _path(@media ) %> |
<%= link_to 'Back', media_index_path %>
