<div class="row mb-2">
  <% @results['results'].each do |result| %>
    <% media_id = result['id'] %>
    <div class="movie-card card m-2">
      <%= link_to image_tag(DiscoverHelper::IMG_BASE_URL + result['poster_path'], class: 'movie-poster'), media_path(media_id) if result['poster_path'].present? %>
      <div class="card-body p-3">
        <h6 class="card-title"><%= result['title'] %><small class="text-muted"> (<%= year_from_date(result['release_date']) %>)</small></h6>
      </div>
      <div class="d-flex justify-content-center m-2">
        <%# Check if result has been rated by user %>
        <% rating = @ratings.detect {|r| r.media_id == media_id} %>
        <% if rating.blank? %>
          <%= link_to 'Add to list', media_ratings_path(media_id: media_id), method: :post, class: 'btn btn-block btn-sm btn-primary' %>
        <% end %>
      </div>
      <%# Render footer with score %>
      <div class="card-footer text-center p-2">
        <% score = media_score(media_id) %>
        <% if score.present? %>
          <strong><%= score %></strong><small class="text-muted"> / 10</small>
        <% else %>
          <small class="text-muted">No score yet</small>
        <% end %>
      </div>
    </div>
  <% end %>
</div>

<%# Manual pagination for now %>
<% current_page = @results['page'].to_i %>
<% total_pages = @results['total_pages'].to_i %>
<nav class="mb-5" aria-label="Page navigation">
  <ul class="pagination">
    <% first_disabled = 'disabled' if current_page <= 1 %>
    <% last_disabled = 'disabled' if current_page >= total_pages %>
    <li class="<%= first_disabled %> page-item"><%= link_to 'First', discover_new_path(page: 1), class: 'page-link' %></li>
    <li class="<%= first_disabled %> page-item"><%= link_to 'Previous', discover_new_path(page: current_page - 1), class: 'page-link' %></li>
    <li class="<%= last_disabled %> page-item"><%= link_to 'Next', discover_new_path(page: current_page + 1), class: 'page-link' %></li>
    <li class="<%= last_disabled %> page-item"><%= link_to 'Last', discover_new_path(page: total_pages), class: 'page-link' %></li>
  </ul>
</nav>


