<% provide(:title, 'Discover · ' + @title) %>

<%# Title and dropdown %>
<div class="row d-flex justify-content-between">
  <h3><%= @title %><small class="text-muted"> (<%= @results['total_results'] %>)</small></h3>
  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="sortDropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Browse
    </button>
    <div class="dropdown-menu" aria-labelledby="sortDropdownMenuButton">
      <%= link_to 'Recent', discover_path(browse: 'recent'), class: 'dropdown-item' %>
      <%= link_to 'Top Media', discover_path(browse: 'top'), class: 'dropdown-item' %>
      <%= link_to 'Most Watched', discover_path(browse: 'watched'), class: 'dropdown-item' %>
    </div>
  </div>
</div>

<%# Render genre pills %>
<hr>
<div class="row genre-show-box">
  <div>
    <% get_genres['genres'].each do |genre| %>
      <%= link_to genre['name'], discover_path(genre: genre['id']), class: 'badge badge-success m-1'%>
    <% end %>
  </div>
</div>
<hr>

<%= render 'results' %>
<%= render 'shared/pagination', page: method(:discover_path), current_page: @results['page'].to_i, total_pages: @results['total_pages'].to_i %>