<nav class="container navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <%= link_to "Fairscore", root_path, class: "navbar-brand" %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= link_to 'Media', media_index_path, class: 'nav-link' %>
      </li>
      <% if logged_in? %>
        <li class="nav-item">
          <%= link_to 'My List', medialist_path, class: 'nav-link' %>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Discover
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <%= link_to 'New Media', discover_new_path, class: 'dropdown-item' %>
            <%= link_to 'Top Media', discover_top_path, class: 'dropdown-item' %>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Account
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <%= link_to "Profile", current_user, class: 'dropdown-item' %>
            <div class="dropdown-divider"></div>
            <%= link_to "Log out", logout_path, method: :delete, class: 'dropdown-item' %>
          </div>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Register", register_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to "Log in", login_path, class: 'nav-link' %>
        </li>
      <% end %>
      <%= form_tag discover_search_path, method: :post, class: 'form-inline my-2 my-lg-0' do %>
        <%= text_field_tag :query, params[:query], placeholder: 'Search', 'aria-label': 'Search', class: 'form-control mr-sm-2'%>
        <%= submit_tag 'Search', class: 'btn btn-outline-success my-2 my-sm-0', type: 'submit' %>
      <% end %>
    </ul>
  </div>
</nav>