<nav class="container navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <%= link_to "Fairscore", root_path, class: "navbar-brand" %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item <%= 'active' if current_page?(media_index_path) %>">
        <%= link_to 'Media', media_index_path, class: 'nav-link' %>
      </li>
      <% if logged_in? %>
        <li class="nav-item <%= 'active' if current_page?(medialist_path) %>">
          <%= link_to 'My List', medialist_path, class: 'nav-link' %>
        </li>
        <li class="nav-item <%= 'active' if current_page?(discover_path) %>">
          <%= link_to 'Discover', discover_path, class: 'nav-link' %>
        </li>
        <li class="nav-item <%= 'active' if current_page?(stats_path) %>">
          <%= link_to 'Stats', stats_path, class: 'nav-link' %>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Account
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <%= link_to "Profile", current_user, class: 'dropdown-item' %>
            <div class="dropdown-divider"></div>
            <%= link_to "Log out", logout_path, method: :delete, class: 'dropdown-item' %>
          </div>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Register", register_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to "Log in", login_path, class: 'nav-link' %>
        </li>
      <% end %>
    </ul>
    <%= form_tag discover_path, method: :get, class: 'form-inline my-2 my-lg-0' do %>
      <%= text_field_tag :search, params[:search], placeholder: 'Search Media', 'aria-label': 'Search', class: 'form-control mr-sm-2'%>
      <%= submit_tag 'Search', name: nil,  class: 'btn btn-outline-success my-2 my-sm-0', type: 'submit' %>
    <% end %>
  </div>
</nav>