<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="container">
    <%# TODO: Navigation bar %>
    <header>

    </header>

    <%# Display flash messages %>
    <%= render 'layouts/flash_messages', flash: flash %>

    <%# Main Body %>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
