<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= render 'layouts/head_tags' %>
  </head>

  <body class="container">
    <%# TODO: Navigation bar %>
    <header>
      <%= render 'layouts/navbar' %>
    </header>

    <%# Display flash messages %>
    <%= render 'layouts/flash_messages', flash: flash %>

    <%# Main Body %>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
